# The hostname (or IP) and port the app is available through
# This is more likely to be the web frontend instead of the API itself
APP_HOST=paastech.cloud
APP_PORT=80

# A secret string used to encrypt data into JWT tokens on sign in
JWT_SECRET="A secret string for the JWT token"

# Used by Prisma to connect to the database
DATABASE_URL="postgresql://api:api@127.0.0.1:5432/paastech"

# Mail module
MAILER_HOST="127.0.0.1"
MAILER_PORT=1025
MAILER_SECURE=false # should be either 'true' or anything else (evaluates to false)
MAILER_USER=api
MAILER_PASSWORD=api
MAILER_FROM=no-reply@paastech.cloud

# Git repo manager
GIT_HOST=ip6-localhost
GIT_PORT=50051


POMEGRANATE_FQDN=passtech.cloud  # Or localhost for dev
POMEGRANATE_DOCKER_NETWORK_NAME=pomegranate-proxy-network  # Name of the proxy network, common between Traefik and other containers
POMEGRANATE_LETSENCRYPT_EMAIL=example@gmail.com  # The email address of the domain name administrator
POMEGRANATE_LETSENCRYPT_PROVIDER=porkbun  # The DNS provider name, see https://doc.traefik.io/traefik/https/acme/#providers

# The following keys are needed for the Porkbun provider, see https://doc.traefik.io/traefik/https/acme/#providers for a list of needed keys per provider
PORKBUN_API_KEY=nice_key_name
PORKBUN_SECRET_API_KEY=nice_key_password
